name: Nix Flake Eval Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "Justfile"
      - ".github/workflows/*"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "Justfile"
      - ".github/workflows/*"
  pull_request_target:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "Justfile"
      - ".github/workflows/*"
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  checks:
    name: Check expressions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check Nix flake Nixpkgs inputs
        uses: DeterminateSystems/flake-checker-action@v12
